html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
}   

.sidebar{
    z-index: 10; 
    width: 8rem;
    height: 100%;
    background-color: #eee;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu-icon{
    margin-top: 3rem;
    cursor: pointer;
}
.menu-icon:hover .line {
    width: 2.5rem;
}

.line{
    height: .2rem;
    width: 2.5rem;
    background-color: #222;
    margin-bottom: 0.6rem;
}

.line-1,.line-3{
    width: 1.8rem;
    transition: all 0.3s;
}

.social-icons-list{
    list-style: none;
    padding: 0;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.social-link{
    font-size: 2rem;
    color:#777;
    transition: color 0.3s;
}

.social-link:hover{
    color:darkkhaki
}

.year{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color:grey;
}

.navigation{
    left:-32rem;
    position: fixed ;
    width: 40rem;
    height: 100%;
      
            background:linear-gradient(rgba(34, 32, 42, 1), rgba(34, 32, 41, .2));
    /* background:linear-gradient(rgba(34, 32, 42, 1),rgba(34,32,41,.8)),
    url('../img/download\ \(2\).jfif') center no-repeat;
    background-size: cover; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: left 0.3s;
}

.navigation-heading{
    font-family: 'Josefin Sans',sans-serif;
    font-size:3.5rem;
    font-weight: 200;
    letter-spacing: .2rem;
    color: goldenrod;
    text-align: center;
}

.navigation-search-input{
    width: 30rem;
    padding:1rem 2rem;
    background-color: rgba(0,0,0,0.3);
    font-family: 'Josefin',sans-serif;
    font-size: 1.6rem;
    color:#deaa86;
    letter-spacing: .1rem;
    outline: none;
    border:0.1rem solid #555;
    border-radius: 20rem;
    transition: background-color 0.3s;
}
.navigation-search-input:focus{
    background-color: rgba(0,0,0,.1);

}
.navigation-search {
    position: relative;
}

.navigation-search-btn{
    border: none;
    background-color: transparent;
    color:#deaa86;
    font-size: 1.8rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.navigation-search-btn:focus{
    outline: none;
}

.navigation-list{
    padding: 0;
    height: 28rem;
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.navigation-link{
    color:#fff;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing:.2rem;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.5s;
}
.navigation-item{
    position: relative;
}
.navigation-link::before{
    content: "";
    width: 0rem;
    height: 0.1rem;
    background-color: #deaa86;
    position: absolute ;
    top:1rem;
    left:-4rem;
    transition: width .5s cubic-bezier(1,0,0,1);
}
.navigation-link::after {
    content: "";
    width: 0rem;
    height: 0.1rem;
    background-color: #deaa86;
    position: absolute;
    top: 1rem;
    right: -4rem;
       transition: width .5s cubic-bezier(1, 0, 0, 1);
}

.navigation-link:hover{
    color:#deaa86;

}
.navigation-link:hover::before,
.navigation-link:hover::after{
    width: 3rem;
}

.copyright{
    font-size: 1.2rem;
    color:#fff;
    margin-bottom: .5rem;
}
.checkbox{
    display: none;
}
.checkbox:checked ~ .navigation{
    left: 8rem;
    z-index: 10;
}

.checkbox:checked ~ .sidebar .line-1{
    transform: rotate(-405deg)translate(-10px ,13px);
}
.checkbox:checked~.sidebar .line-3 {
    
    transform: rotate(405deg);
}
.checkbox:checked~.sidebar .line-2 {
    opacity: 0;
}

.header{
    margin-left: 8rem;
    height: 100vh;
    background:linear-gradient(to top,rgba(0,0,0,0.6),rgba(0,0,0,0.5)), url('../img/439191.jpg') no-repeat center;
    background-size: cover;
}

.brand{
    display: flex;
    cursor: pointer;
    position: relative;
}
.brand-logo{
    position: absolute;
    margin-left: 2rem;
    margin-top: 1rem;
    padding-left: 11 rem;
    font-size: 3rem;
    color: #deaa86;
  
}
.hotel-heading{
    margin-left: 5rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: 400;
    color: #deaa86;
    letter-spacing: .2rem;
    padding-left: 2rem;
    margin-top: 2rem;
}

.banner{
    color:#ddd;
    height: 65rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 7rem;
    font-weight: 400;
    margin-bottom: 0;
    animation: anim 2s ;
}

.banner-paragraph{
    font-size:3.5rem;
    font-weight: 300;
    animation: anim 1.5s .5s backwards;
}




.banner-button{
    width: 21rem;
    padding: 1.2rem 1rem;
    font-size:2rem;
    color:#333;
    letter-spacing: .1rem;
    border:none;
    border-radius: 10rem;
    outline: none;
    background:linear-gradient(to right,gold,goldenrod);
    cursor: pointer;
        animation: anim 1.5s 1s backwards;
}

.banner-button:hover{
    background:linear-gradient(to right, goldenrod, gold);
}

.banner-button:active{
    transform: translateY(.2rem);
}

@keyframes anim{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.about-us{
    margin-left: 8rem;
    display :flex;
    background-color: #ddd;
}

.about-us-content{
    flex:0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    box-sizing: border-box;
}

.about-us-heading{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: rgb(93, 120, 243);
}

.small-underline {
    width: 9rem;
    height: .1rem;
    margin: 0 auto 1rem auto;
    background-color: #f8863a;
}

.big-underline {
    width: 20rem;
    height: .1rem;
    margin: auto;
    background-color: #f8863a;
}

.sub-heading{
    font-size: 3.5rem;
    font-weight: 300;
    color:rgb(93, 120, 243);
}

.about-us-paragraph{
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    margin-bottom: 5rem;
}
.about-us-btn{
    width: 15rem;
    padding: .8rem .5rem;
    font-size:1.2rem;
    background-color: transparent;
    border:.1rem solid #b85d1c;
    outline:none;
    cursor: pointer;
    border-radius: 10rem;
}

.btn-right{
    margin-left:.5rem;
    transition: margin-left .4s;
}
.about-us-btn:hover .btn-right{
    margin-left: 1.5rem;
}
.about-us-images{
    flex: 1 1 ;
    position: relative;
}

.image{
    width: 32rem;
    position: absolute;
    top:50%;
    left:30%
      
}

.image-3{
    box-shadow:0 3rem 6rem rgba(0, 0, 0, .4);
    border-radius:.4rem;
    border : .2rem solid #b85d1c;
    transform: translate(-50%,-20%);
    transition: z-index .4s;
}
.image-1 {
    box-shadow:0 3rem 6rem rgba(0, 0, 0, .4);
    border-radius:.4rem;
    border : .2rem solid #b85d1c;
    transform: translate(-10%, -90%);
    transition: z-index .4s;
}
.image-2 {
    box-shadow:0 3rem 6rem rgba(0, 0, 0, .4);
    border-radius:.4rem;
    border : .2rem solid #b85d1c;
    transform: translate(-70%, -70%);
    transition: z-index .4s;
}
.image-4 {
    box-shadow:0 3rem 6rem rgba(0, 0, 0, .4);
    border-radius:.4rem;
    border : .2rem solid #b85d1c;
    transform: translate(-0%, -0%);
    transition: z-index .4s;
}

.image-1:hover{
    z-index: 10;
}
.image-3:hover {
    z-index: 10;
}
.image-2:hover {
    z-index: 10;
}
.image-4:hover {
    z-index: 10;
}

.common-header{
    padding:5rem;
    text-align: center;
    color:#b85d1c;
}
.common-heading{
    font-style: italic;
    font-size:5rem;
    font-weight: 400;
}


.rooms{
    margin-left: 8rem;
}
.rooms-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.room-card{
    width: 50rem;
    /* height: 50rem; */
    margin: 5rem;
    background-color: black;
    box-shadow: 0 4rem 6rem rgba(0,0,0,.3);
}

.room-img{
    width: 100%;
    
}

.room-card-content{
    color:#ddd;
    padding: 2rem;
}

.room-card-heading{
    margin:0;
    font-size:2rem;
    font-weight: 300;   
}

.room-card-paragraph{
    font-size:1.5rem;
    color:#777;
}

.room-price{
    font-size:5rem;
    font-weight: 300;
    text-align: right;
    margin:0;
}
.room-card-btn{
     width: 15rem;
     padding: 1.8rem 1rem;
     font-size:1.2rem;
     background-color: transparent;
     border:.1rem solid #b85d1c;
     outline:none;
     cursor: pointer;
     border-radius: 10rem;
     color:#ddd;
}

.rooms-btn-wrapper{
    text-align: center;
}
.rooms-btn{
    width: 20rem;
    padding: 1.5rem 1rem;
    margin: 4rem 3rem;
    background-color: transparent;
    border-radius: 10rem;
    border: .2rem solid #b85d1c;
    outline: none;
    box-shadow: 0 .5rem  5rem rgba(0,0,0,.3);
    letter-spacing: .1rem;
    transition: letter-spacing .2s;
}

.rooms-btn:hover{
    letter-spacing: .3rem;
}

.customers{
    padding-left: 8rem;
    padding-bottom: 7rem;
    background-color: #222;
}

.customer-paragraph{
    font-size:1.5rem;
    color: #eee;
    margin: 2rem auto 9rem auto;
    width: 50%;
    text-align: center;
}
.customers-card-wrapper {
    display: flex;
    justify-content: space-evenly
}

.customer-card{
    background-color: #eee;
    width: 50rem;
    display: flex;
}

.customer-image{
    width: 20rem;
    height:20rem;
    margin-left: -1.3rem;
}

.customer-image-wrapper{
    margin:auto 0;
}
.customer-info{
    padding: 2rem 2rem;
}

.customer-fullname{
    font-size:2rem;
    font-weight: 500;
    color:black ;
    margin-bottom: 1rem;
}

.customer-paragraph-1{
    margin-top: 0rem;
    font-size: 1.3rem;
    font-weight: 400;
    color: #da6e21;
}

.customer-paragraph-2{
    font-size:1.1rem;
}

.footer{
    margin-left: 8rem;
}

.main-part{
    display: flex;
    margin-left: 0rem;
    justify-content: space-evenly;
    background-color:#1c1c1c;
    padding:4rem;
}

.footer-heading{
    font-size:2.5rem;
    font-weight: 300;
    color:goldenrod;
    margin:1rem 0 3rem 0;
}

.footer-list{
    list-style: none;
    padding:0;
}
.footer-list-item{
    margin-bottom: 2rem;
}

.footer-list-link{
    font-size:1.1rem;
    text-decoration: none;
    color:gray
}

.contact p{
    font-size:1.5rem;
    color:#bbb;
}

.footer-form{
    display: flex;
}

.footer-input{
    width: 25rem;
    padding:1rem;
    font-size:1.5rem;
    color:#444;
    outline: none;
}

.footer-btn{
    padding:1rem;
    background-color: #b85d1c;
    color:#ddd;
    border: none;

}

.gallary{
    max-width: 45rem;
}

.image-wrapper{
    width: 12rem;
    margin:.4rem;
    overflow: hidden;
}

.footer-image{
    height: 10rem;
    max-width: 100%;
    transition: all .4s;
}

.gallery-images{
    display: flex;
    flex-wrap: wrap;
}

.footer-image:hover{
    transform: scale(1.3);
    opacity: .8;
}

.creator-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding:0 4rem;
}

.copy-right-text{
    font-size:1.3rem;
    color: #eee;
}

.copyright-text p{
    font-size: 1.8rem;
    color: #eee;
}
.text-right{
    font-size:1.4rem;
    color:#bbb;
}
.text-right i{
    font-size:2rem;
    margin:.5rem;
    color:tomato
}

.text-right span{
    color:gold;
}


@media(max-width:1400px){
    .customers-card-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .customer-card:first-child{
        margin-bottom: 3rem;
    }

    .main-part{
        flex-direction: column;
    }

    .footer-list{
        display: flex;
    }
    .footer-list-item{
        margin-right: 3rem;
        font-size:3rem
    }
}

@media(max-width:1200px){
    .about-us{
        flex-direction: column;
        padding-bottom: 20rem;
    }
    .about-us-content{
        margin-bottom: 11rem;
    }
    .about-us-images{
        margin-left: 12rem;
    }
    .image{
        width: 25rem;
    }
    .navigation{
        z-index: 10;
      background:linear-gradient(rgba(34, 32, 42, 1), rgba(34, 32, 41, .2));

    }
    .sidebar{
        z-index: 11;
    }
}

@media(max-width:900px){
    .banner{
        text-align: center;
    }
    .banner-heading{
        font-size:4.5rem;
    }
    .banner-paragraph{
        font-size:2.5rem;
    }
    .banner-button{
        width: 15rem;
        font-size:1.5rem;
    }
}


@media(max-width:700px){
    .customer-card{
        flex-direction: column;
        width: 20rem;
    }
    .customer-image{
        margin-left:0;
    }

    .footer-list{
        display: block;
    }
    .creator-part{
        flex-direction: column;
    }

    .copyright-text {
        order:1;
        font-size: .2rem;
    }
}

@media(max-width:500px){
    .navigation{
        width: 29rem;
    }
    .navigation-search-input{
        width: 20rem;
    }

    .image{
        width: 14rem;
    }

    .about-us{
        padding-bottom: 15rem;
    }
}